@media only screen and (min-width: 320px) and (max-width: 480px){
	.sub-heading {
    padding-top: 30px;
	}
	.footer .sub-heading{
		text-align:center;
	} 
	.apps-list li{
		justify-content:center;
	}
	.social-list{
		text-align:center;
	}
}