a:hover{
	text-decoration:none !important; 
}
.menu-container .navbar {
    background-color: #1fa6ff;
}

.menu-container .navbar-brand {
    color: #fff;
}

.menu-container .nav-link {
    color: #fff !important;
}

.category-box .widget_categories {
    margin-top: 30px;
    border: #eeeeee solid 1px;
}

.category-box .widget-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 9px 15px;
    line-height: 1.33;
    background-color: #0b9fff;
    color: #fff;
	margin-bottom:0px;
}

.category-box ul {
  list-style:none;
}
.category-box ul li{
    list-style:none;
/* 	margin-left: 15px; */
	color:#6f6d69;
}
.category-box ul li::marker{
	margin-left:15px;
}
.category-box .widget>ul {
    padding-left: 0px;
}

.category-box .children {
    padding-left: 15px;
}
.category-box .widget>ul>li.current-cat-ancestor .current-cat,
.category-box .widget>ul>li.cat-item {
    border-bottom: #eeeeee solid 1px;
    margin-bottom: 0px;
	border-left:3px solid transparent;
}

.category-box .widget>ul>li.cat-item:hover{
	transition:0.4s;
    border-left-color:#0b9fff;
} 
.current-cat{
 border-left-color:#0b9fff !important;
}
.current-cat>a{
 color:#0b9fff !important;
}
.category-box .widget .children {
    border-top: #eeeeee solid 0x;
}

.category-box .cat-item a {
    font-size: 14px;
    color: #6f6d69;
    display: block;
    line-height: 1.3;
    padding: 10px 18px;
    font-weight: 400;
}

.right-sidebar .card {
    margin-top: 30px;
    border-color: #eeeeee;
    box-shadow: -1px 1px 4px 0 rgba(117, 138, 172, .12);
	transition:0.5s;
	transform:translatey(0px);
}
.right-sidebar .card:hover{
	text-decoration:none !important;
	transform:translatey(-7px);
	transition:0.5s;
} 
.right-sidebar .card-body {
    padding: 15px;
}

.right-sidebar .card-title {
    color: #2b2b2b;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.3;
}

.quick-links {
    list-style: none;
}

.quick-links li a {
    font-size: 14px;
    color: #86a1ae;
}

.cards-content {
    margin-bottom: 30px;
}

.sub-footer {
    background: #2b2b2b;
    padding-bottom: 50px;
}

.sub-heading {
    font-size: 16px;
    color: #fff;
    padding-top: 50px;

}

.footer {
    background: #1b1b1b;
}

.apps-lis {
    margin-bottom: 15px;
}

.apps-list li {
    display: flex;
    margin-top: 15px;
}
.alm-listing {
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.app-img {
    width: 40px;
    height: 38px;
    background: #81c208;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.app-img img {
    border-radius: 4px;
}

.app-content h6 {
    font-size: 14px;
    color: #86a1ae;
    font-weight: 400;
    margin-bottom: 0px;
}

.app-content a {
    font-size: 14px;
    color: #0ad0f4;
}

.social-list {
    margin-top: 15px;
}

.social-list li {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
}

.social-list li a {
    color: #86a1ae;
}

.footer-border {
    border-color: #ffffff1a !important;
    padding-bottom: 15px;
}

.copywrite p {
    font-size: 14px;
    color: #86a1ae;
    margin-top: 15px;
    margin-bottom: 15px;
}

.alm-reveal {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.search-form .screen-reader-text{
	display:none;
}
.search-form{
    position:relative;
    margin-top: 30px;
}
.search-submit {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 14px;
    line-height: 34px;
    background: #0b9fff;
    border-radius: 0px 4px 4px 0px;
    color: #fff;
    border: #0b9fff solid 1px;
    border-width: 1px;
}
.search-submit:focus{
	outline:none;
}
.search-field{
	width:100%;
	border: #eee solid 1px;
    border-radius: 4px;
    padding-left: 15px;
    font-size: 14px;
    height: 38px;
}
.search-form label{
	margin-bottom:0px !important;
	width:100%;
}
.search-field[type=search]{
	    outline-offset: 0px;
}
.entry-content img{
	width:100%;
	height:auto;
}
.page-title{
	font-size:20px;
    line-height:1.4;
	margin-top: 30px;
}
.bredcrumb-bg{
	background-color: #1fa6ff;
	background:url("../img/breadcrumb.jpg") no-repeat;
	background-size:cover;
}
.bredcrumb-bg p{
	font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
    /* padding: 74px 0px; */
    padding-bottom: 75px;
}
.bredcrumb-bg p a{
    color:#fff;
}
.page_title{
	text-align: center;
    font-size: 35px;
    color: #fff;
    font-weight: 400;
    padding-top: 65px;
}
.menu {
	margin-bottom: 0px !important;
    list-style: none;
}
.menu li {
     display:inherit !important;
}
.menu li a {
    color: #fff;
	 padding: 15px;
}

.ajax-load-more-wrap.blue .alm-load-more-btn{
	background-color:#1fa6ff !important;
}